.dishes {
  min-height: 100vh;
  background-color: #efefef;
  padding: 50px;
}

.search-form {
  min-height: 10hv;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border: 2px solid gray;
}
.search-button {
  border: none;
  color: white;
  background-color: #bc1823;
  padding: 10px 20px;
  cursor: pointer;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
